body {
  text-align: center;
  background-color: #ccffff
}
.container {
  float: left;
}
p {
  float: left;
}
button {
  background-color: black;
  color: white;
  font-size: 200%;
}
ul li {
  list-style-position: inside;
}
html {
  background-image: url("../images/triangle.jpg");
  background-position: top right;
  background-repeat: no-repeat;
}
